<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">
    </head>

    <body>
        <div th:replace="layout::header"></div>

        <section class="program">
            <div class="program-h">
                <h2 class="section-h">La mejor conferencia de diseño web en español</h2>
                <p class="program-h__p">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>Quisquam doloribus
                    magnam ducimus enim expedita velit voluptate, quasi facilis sed, tenetur vero culpa est, veritatis animi
                    nihil eius voluptatibus nulla dicta.
                </p>
    
                <div class="pcard">
                    <h3 class="pcard-header">Programa del evento</h3>
    
                    <!-- Categorias -->
                    <div class="pcard-links">
                        <a th:each="category: ${categories}" th:href="'#' + ${category.title}">
                            <span class="color-orange fa" th:classappend="${category.icon}"></span>
                            <span th:text="${category.title}"></span>
                        </a>
                    </div>

                    <!-- Cargar 2 eventos de cada categoria -->
                    <div th:each="category: ${categories}" th:id="${category.title}" class="pcard-info">
                        <div th:each="event, loop: ${category.events}" th:if="${loop.index < 2}">
                            <h4 th:text="${event.title}"></h4>
                            <p>
                                <span class="color-orange far fa-calendar-alt" title="Fecha"></span>
                                <span th:text="${#temporals.format(event.date.date, 'EEEE')}"></span>,
                                <span th:text="${#temporals.format(event.date.date, 'dd')}"></span> de
                                <span th:text="${#temporals.format(event.date.date, 'MMMM')}"></span>
                            </p>
                            <p>
                                <span class="color-orange far fa-clock" title="Horario"></span>
                                <span th:text="${#strings.substring(event.time, 0, 5)}"></span>
                            </p>
                            <p>
                                <span class="color-orange fas fa-user" title="Invitado"></span>
                                <span th:text="${event.guest.name} + ' ' + ${event.guest.surname}"></span>
                            </p>
                        </div>
                    </div>
    
                    <div class="pcard-button">
                        <a th:href="@{/calendario}">Ver todos</a>
                    </div>
                </div>
            </div>
    
            <video class="program-video" autoplay loop poster="img/bg-talleres.jpg">
                <source th:src="@{/video/video.mp4}" type="video/mp4">
                <source th:src="@{/video/video.webm}" type="video/webm">
                <source th:src="@{/video/video.ogv}" type="video/ogg">
            </video>
        </section>
    
    
        <!-- INVITADOS -->
        <section class="container section">
            <h2 class="section-h">Nuestros invitados</h2>

            <div class="section guests">
                <a th:each="guest: ${guests}" th:href="|#invitado${guest.id}|" class="guest guest-info">
                    <img th:src="@{/img/{img} (img = ${guest.imgUrl})}" th:alt="'invitado ' + ${guest.id}">
                    <p th:text="${guest.name} + ' ' + ${guest.surname}"></p>
                </a>

                <div th:each="guest: ${guests}" class="display-none">
                    <div class="guest-info" th:id="'invitado' + ${guest.id}">
                        <h2 th:text="${guest.name} + ' ' + ${guest.surname}"></h2>
                        <img th:src="@{/img/{img} (img = ${guest.imgUrl})}" th:alt="'invitado ' + ${guest.id}">
                        <p th:text="${guest.description}"></p>
                    </div>
                </div>
            </div>
        </section>
    
    
        <!-- RESUMEN -->
        <div class="summary-hero section">
            <div class="container">
                <div class="summary">
                    <div>
                        <p class="summary-n"></p>
                        <p class="summary-t">Invitados</p>
                    </div>
                    <div>
                        <p class="summary-n"></p>
                        <p class="summary-t">Talleres</p>
                    </div>
                    <div>
                        <p class="summary-n"></p>
                        <p class="summary-t">Días</p>
                    </div>
                    <div>
                        <p class="summary-n"></p>
                        <p class="summary-t">Conferencias</p>
                    </div>
                </div>
            </div>
        </div>
    
    
        <!-- TICKETS -->
        <section class="container section">
            <h2 class="section-h">Tickets</h2>
    
            <div class="tickets">
                <a th:each="ticket: ${tickets}" th:href="@{/reservaciones}" class="ticket">
                    <p th:if="${ticket.nDates == 0}" class="ticket-header">Todos los días!</p>
                    <p th:if="${ticket.nDates == 1}" class="ticket-header">Pase por 1 día</p>
                    <p th:if="${ticket.nDates >= 2}" class="ticket-header">Pase por <span th:text="${ticket.nDates}"></span> días</p>

                    <h3 class="ticket-price">&dollar; <span th:text="${#numbers.formatDecimal(ticket.price, 0, 'POINT', 0, 'DEFAULT')}"></span></h3>
                    
                    <div class="ticket-benfs">
                        <p th:each="benfs: ${ticket.benefits}">
                            <span class="fas fa-check ticket-benfs-icon"></span>
                            <span th:text="${benfs.title}"></span>
                        </p>
                    </div>

                    <p class="ticket-button price-buy">Comprar</p>
                </a>
            </div>
        </section>
    
    
        <!-- MAPA -->
        <div id="map" class="section" style="height: 50vh;">
    
        </div>
    
    
        <!-- TESTIMONIALES -->
        <section class="container section">
            <h2 class="section-h">Testimoniales</h2>
    
            <div class="testimonials">
                <blockquote class="testimonial">
                    <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum atque eveniet
                        mollitia vitae dolores ea, quaerat laboriosam labore et omnis autem ullam illum qui neque saepe
                        assumenda soluta aperiam amet!</p>
    
                    <footer class="testimonial-footer">
                        <img class="testimonial-img" src="img/invitado1.jpg" alt="foto del autor" loading="lazy">
                        <div>
                            <cite class="testimonial-name">Rafael Bautista</cite>
                            <p class="testimonial-p">Diseñador en @prisma</p>
                        </div>
                    </footer>
                </blockquote>
    
                <blockquote class="testimonial">
                    <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum atque eveniet
                        mollitia vitae dolores ea, quaerat laboriosam labore et omnis autem ullam illum qui neque saepe
                        assumenda soluta aperiam amet!</p>
    
                    <footer class="testimonial-footer">
                        <img class="testimonial-img" src="img/invitado3.jpg" alt="foto del autor" loading="lazy">
                        <div>
                            <cite class="testimonial-name">Gregorio Sanchez</cite>
                            <p class="testimonial-p">Desarrollador Web Freelancer</p>
                        </div>
                    </footer>
                </blockquote>
    
                <blockquote class="testimonial">
                    <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum atque eveniet
                        mollitia vitae dolores ea, quaerat laboriosam labore et omnis autem ullam illum qui neque saepe
                        assumenda soluta aperiam amet!</p>
    
                    <footer class="testimonial-footer">
                        <img class="testimonial-img" src="img/invitado4.jpg" alt="foto del autor" title="Susana Rivera"
                            loading="lazy">
                        <div>
                            <cite class="testimonial-name">Susana Rivera</cite>
                            <p class="testimonial-p">Analista de Sistemas</p>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </section>
    
    
        <!-- NEWSLETTER -->
        <div class="newsletter section">
            <p>Inscríbete a nuestro newsletter</p>
            <h3>gdlwebcamp</h3>
            <a href="#">Registro</a>
        </div>
    
    
        <!-- COUNTDOWN -->
        <div class="container section">
            <h2 class="section-h">Faltan</h2>
    
            <div class="summary countdown">
                <div>
                    <p class="summary-n" id="countdown-d">0</p>
                    <p class="summary-t">Días</p>
                </div>
                <div>
                    <p class="summary-n" id="countdown-h">0</p>
                    <p class="summary-t">Horas</p>
                </div>
                <div>
                    <p class="summary-n" id="countdown-m">0</p>
                    <p class="summary-t">Minutos</p>
                </div>
                <div>
                    <p class="summary-n" id="countdown-s">0</p>
                    <p class="summary-t">Segundos</p>
                </div>
            </div>
        </div>

        
        <!-- Footer -->
        <div th:replace="layout::footer"></div>
    </body>
</html>