<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">
    </head>

    <body>
        <div th:replace="layout::header"></div>
    
    
        <!-- INVITADOS -->
        <section class="container section">
            <h2 class="section-h">Nuestros invitados</h2>

            <div class="section guests">
                <a th:each="guest: ${guests}" th:href="|#invitado${guest.id}|" class="guest guest-info">
                    <img th:src="@{/img/{img} (img = ${guest.imgUrl})}" th:alt="'invitado ' + ${guest.id}">
                    <p th:text="${guest.name} + ' ' + ${guest.surname}"></p>
                </a>

                <div th:each="guest: ${guests}" class="display-none">
                    <div class="guest-info" th:id="'invitado' + ${guest.id}">
                        <h2 th:text="${guest.name} + ' ' + ${guest.surname}"></h2>
                        <img th:src="@{/img/{img} (img = ${guest.imgUrl})}" th:alt="'invitado ' + ${guest.id}">
                        <p th:text="${guest.description}"></p>
                    </div>
                </div>
            </div>
        </section>
    
        
        <!-- Footer -->
        <div th:replace="layout::footer"></div>
    </body>
</html>